* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all 0.2s ease;
}

:root {
	--color-bg: #f6f6f6;
	--color-accent: #b69c6f;
	--color-primary: #a3b4e7;
}

html,
body {
	background: var(--color-primary);
	scroll-behavior: smooth;
}

.pages {
	color: #316685;
	text-align: center;
	font-size: 3.5rem;
	margin-top: 10%;
  }